body{
	display: flex;
}
.main-container{
	background-color: ÔºÉADD8E6;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 1000px;
	border-radius: 10px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
	font-family: "Times New Roman";
	line-height: 1.5;
}
.left-panel{
	padding: 10px;
	margin: 10px;
	width: 30%;
	background-color: #bac8e9;
	border-radius: 10px;

}
.right-panel{
	width: 70%;
	margin: 10px;
	padding: 10px;
	background-color: #dfe3ec;
	border-radius: 10px;
}
.photo-panel{
	width: 100%;
}
.text-content{
	font-family: "Times New Roman","Courier New";
	font-weight: bold;
	font-size: 18px;
}
.section-title{
	border-bottom: 2px solid black;
	padding-bottom: 5px;
	gap: 20px;
	margin-bottom: 10px;
}
.year{
	 color: #203a74;
	 min-width: 120px;
	 font-weight: bold;
}
.description{

}
.tag{
	border-radius: 10px;
	background-color: #6b93eb;
	padding: 5px;
	shape-outside: circle();
}
.HWcontainer{
	display: flex;
}
.hw-column{
	padding-top: 0px;
	padding-left: 5px;
	padding-bottom: 10px;
	width: 50%;
	margin: 10px;
	background-color: #bac8e9;
	border-radius: 10px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);

}
.lab-column{
	padding-top: 0px;
	padding-left: 5px;
	padding-bottom: 10px;
	margin: 10px;
	width: 50%;
	background-color: #bac8e9;
	border-radius: 10px;
	box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}
a:link{
	color: #375fb9;
}
a:visited{
	color: #203a74;
}
a:hover{
	color: #6e84b4;
}
.music{
	display: flex;
	justify-content: space-evenly;
	text-align: center;
	align-items: center;
}
.music-note{
	font-weight: light;
	font-size: 14px;
	color: #525660;
}